<font face="Century Gothic" color='#0F3FA8' size="20px"><h1><left>Artificial Neural Networks</left></h1></font> 
<font face="Century Gothic" color='#26A3DF' size="16px"><left>Regression</left></font>

## Table of Contents:
* [Regression ANN (1 feature)](#first-bullet)
* [Regression ANN (2 features)](#second-bullet)

<h4><center>Dataset: Used Cars</center></h4>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/GAZ-24_Volga.svg/640px-GAZ-24_Volga.svg.png" alt="Drawing" style="width: 200px;"/>

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore") 

data = pd.read_csv('ann_used_cars.csv', usecols=["mileage", "year", "price"])
data.head()

   mileage  year  price
0     7413  2011  21992
1    10926  2011  20995
2     7351  2011  19995
3    11613  2011  17809
4     8367  2012  17500

<a class="anchor" id="first-bullet"></a>
<h4><center>Regression ANN (1 feature)</center></h4>
<img src="https://i.ibb.co/5jsGnyM/12.png" alt="Drawing" style="width: 600px;"/>

In [ ]:
data1 = data[['mileage']]
data1.head()

   mileage
0     7413
1    10926
2     7351
3    11613
4     8367

<h5><center>Weight</center></h5>
<img src="https://i.ibb.co/YPTrMXL/13.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data1['weight'] = -0.09329097
data1.head()

   mileage    weight
0     7413 -0.093291
1    10926 -0.093291
2     7351 -0.093291
3    11613 -0.093291
4     8367 -0.093291

<h5><center>Bias</center></h5>
<img src="https://i.ibb.co/vhRsWVY/14.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data1['bias'] = 17091
data1.head()

   mileage    weight   bias
0     7413 -0.093291  17091
1    10926 -0.093291  17091
2     7351 -0.093291  17091
3    11613 -0.093291  17091
4     8367 -0.093291  17091

<h5><center>Prediction</center></h5>
<img src="https://i.ibb.co/HX6rFWq/15.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data1['prediction'] = data1['mileage'] * data1['weight'] + data1['bias']
data1.head()

   mileage    weight   bias    prediction
0     7413 -0.093291  17091  16399.434039
1    10926 -0.093291  17091  16071.702862
2     7351 -0.093291  17091  16405.218080
3    11613 -0.093291  17091  16007.611965
4     8367 -0.093291  17091  16310.434454

In [ ]:
# Accuracy (Root Mean Squared Error)
from sklearn.metrics import mean_squared_error
mean_squared_error(data['price'], data1['prediction'], squared=False)

1841.4412082447695

<a class="anchor" id="second-bullet"></a>
<h4><center>Regression ANN (2 features)</center></h4>
<img src="https://i.ibb.co/JcXL5Rc/16.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data2 = data[['mileage','year']]
data2.head()

   mileage  year
0     7413  2011
1    10926  2011
2     7351  2011
3    11613  2011
4     8367  2012

<h5><center>Weights</center></h5>
<img src="https://i.ibb.co/TLzpVrs/17.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data2['weight1'] = -0.0448941924
data2['weight2'] = 780.345131
data2.head()

   mileage  year   weight1     weight2
0     7413  2011 -0.044894  780.345131
1    10926  2011 -0.044894  780.345131
2     7351  2011 -0.044894  780.345131
3    11613  2011 -0.044894  780.345131
4     8367  2012 -0.044894  780.345131

<h5><center>Bias</center></h5>
<img src="https://i.ibb.co/nsHm92V/18.png" alt="Drawing" style="width:500px;"/>

In [ ]:
data2['bias'] = -1552551
data2.head()

   mileage  year   weight1     weight2     bias
0     7413  2011 -0.044894  780.345131 -1552551
1    10926  2011 -0.044894  780.345131 -1552551
2     7351  2011 -0.044894  780.345131 -1552551
3    11613  2011 -0.044894  780.345131 -1552551
4     8367  2012 -0.044894  780.345131 -1552551

<h5><center>Prediction</center></h5>
<img src="https://i.ibb.co/ggggKY6/19.png" alt="Drawing" style="width: 500px;"/>

In [ ]:
data2['prediction'] = data2['mileage'] * data2['weight1'] + data2['year'] * data2['weight2'] + data2['bias']
data2.head()

   mileage  year   weight1     weight2     bias    prediction
0     7413  2011 -0.044894  780.345131 -1552551  16390.257793
1    10926  2011 -0.044894  780.345131 -1552551  16232.544495
2     7351  2011 -0.044894  780.345131 -1552551  16393.041233
3    11613  2011 -0.044894  780.345131 -1552551  16201.702185
4     8367  2012 -0.044894  780.345131 -1552551  17127.773864

In [ ]:
# Accuracy (Root Mean Squared Error)
mean_squared_error(data['price'], data2['prediction'], squared=False)

1467.8516472626532